services:
  db:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: rubens
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: sabor_mactch
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: backend
    environment:
      DATABASE_URL: postgres://rubens:1234@db:5432/sabor_mactch
    depends_on:
      - db
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  pgdata:
